.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.landing {
  position: absolute;
  top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.label-header {
  font-size: 36px;
  color: black;
  display: block;
  text-align: center;
}

.label-domain {
  font-size: 24px;
  color: black;
  display: block;
  text-align: center;
}

.label-description {
  font-size: 12px;
  color: black;
  display: block;
  text-align: center;
  margin-top: 10px;
}

.icon-social {
  text-align: center;
  margin-top: 10px;
}

.mango {
  margin: 30px 0;
  text-align: center;
}

.icon {
  margin: 0 5px;
}

.wallet {
  position: absolute;
  right: 40px;
  top: 40px;
  border-radius: 8px;
  background-color: blanchedalmond;
  padding: 10px;
}

.connect-button {
  width: 111px;
  height: 20px;
}